<%- include ('partials/html-head'); -%>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Rate My Ride</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/new-post">Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <section id="rmr-contents" class="mt-4">
    <div class="container">
      <div class="row flex-md-column flex-lg-row">
        <div class="left-filter col col-lg-3">
          <div class="card">
            <article class="card-group-item">
              <header class="card-header">
                <h6 class="title">Brands </h6>
              </header>
              <div class="filter-content">
                <div class="card-body">
                  <form>
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-label">Mersedes Benz</span>
                    </label>
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-label">Nissan Altima</span>
                    </label>
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-label">Another Brand</span>
                    </label>
                  </form>

                </div>
              </div>
            </article>
            <article class="card-group-item">
              <header class="card-header">
                <h6 class="title">Choose type </h6>
              </header>
              <div class="filter-content">
                <div class="card-body">
                  <label class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadio" value="">
                    <span class="form-check-label">
                      First hand items
                    </span>
                  </label>
                  <label class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadio" value="">
                    <span class="form-check-label">
                      Brand new items
                    </span>
                  </label>
                  <label class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadio" value="">
                    <span class="form-check-label">
                      Some other option
                    </span>
                  </label>
                </div> <!-- card-body.// -->
              </div>
            </article>
          </div>
        </div>
        <ul class="right-contents col col-lg-9 g-0">
          <li class="card mb-3">
            <div class="row g-0 justify-content-between p-1">
              <div class="col-md-4 image">
                <img src="./images/Fiat-Coupe-2022.jpg" alt="...">
              </div>
              <article class="col-md-8">
                <div class="card-body-top g-0 row justify-content-center flex-column">
                  <div class="card-title g-0 p-2 col d-flex justify-content-between">
                    <b class="card-title-username">Username</b>
                    <b class="card-title-created-at">05/20/2021</b>
                  </div>
                  <div class="car-detail col row">
                    <ul class="col-4">
                      <li class="make">Make: Volkswagen</li>
                      <li class="model">Model: LT 40</li>
                      <li class="year">Year: 1978</li>
                      <li class="color">Color: custom</li>
                    </ul>
                    <div class="description col-8">
                      <b>Description:</b>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores ducimus, eius est
                        illum
                        ipsum nam
                      </p>
                    </div>
                  </div>
                </div>

                <div class="comment-div p-2 m-1 mb-2">
                  <p class="comments">Comment 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis,
                    dolore.</p>
                  <div class="d-flex justify-content-between">
                    <span class="username">Albert Jiang</span>
                    <span class="created-at">Last updated 3 mins ago</span>
                  </div>
                </div>
                <form class="comment-form row g-0 justify-content-start">
                  <div class="col-9">
                    <input type="text" class="form-control" id="new-comment">
                  </div>
                  <button type="submit" class="btn col-2">Comment!</button>
                </form>
              </article>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <%- include ('partials/footer.ejs'); -%>