<%- include ('partials/html-head'); -%>
  <%- include ('partials/header-nav.ejs') -%>
    <section class="container" id="home-cards">
      <div class="row justify-content-center align-content-center">
        <div class="card col-auto col-md-9 col-lg-5 col-xl-3 m-3">
          <img src="./images/image-placeholder-900-497.jpg" class="card-img-top mt-2" alt="...">
          <div class="card-body">
            <h5 class="card-title">Car-make-model-year-color</h5>
            <p class="card-text">Car description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="#">Comment 1</a>
            </li>
            <li class="list-group-item">
              <a href="#">Comment 2</a>
            </li>
          </ul>
        </div>
        <div class="card col-auto col-md-9 col-lg-5 col-xl-3 m-3">
          <img src="./images/image-placeholder-900-497.jpg" class="card-img-top mt-2" alt="...">
          <div class="card-body">
            <h5 class="card-title">Car-make-model-year-color</h5>
            <p class="card-text">Car description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="#">Comment 1</a>
            </li>
            <li class="list-group-item">
              <a href="#">Comment 2</a>
            </li>
          </ul>
        </div>
        <div class="card col-auto col-md-9 col-lg-5 col-xl-3 m-3">
          <img src="./images/image-placeholder-900-497.jpg" class="card-img-top mt-2" alt="...">
          <div class="card-body">
            <h5 class="card-title">Car-make-model-year-color</h5>
            <p class="card-text">Car description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="#">Comment 1</a>
            </li>
            <li class="list-group-item">
              <a href="#">Comment 2</a>
            </li>
          </ul>
        </div>

      </div>
    </section>
    <%- include ('partials/footer.ejs'); -%>