<%- include ('partials/html-head'); -%>
  <%- include ('partials/header-nav', {currentMenu: 'login' }) %>
    <section class="account">
      <div class="container">
        <div class="login row justify-content-between">
          <div class="login_img col-lg-8 d-none d-md-none d-lg-block">
            <img src="./images/wallhaven-g8llqq.jpg" alt="">
          </div>
          <div class="login-form col-lg-4">
            <form method="post">
              <h2 class="text-center">Log in</h2>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="d-flex justify-content-between align-items-start">
                <div class="login-panel">
                  <label class="">
                    <input type="checkbox">
                    Remember me
                  </label>
                </div>
                <div class="form-group">
                  <button type="submit" class="">Log in</button>
                </div>
              </div>
            </form>
            <p class="text-center mt-2"><a href="/signup">Create an Account</a></p>
          </div>
        </div>
      </div>
    </section>

    <%- include ('partials/footer.ejs'); -%>