<%- include ('partials/html-head'); -%>
  <%- include ('partials/header-nav', { currentMenu: 'post' }) %>

    <section class="container" id="car-post">
      <form action="/post">
        <h2 class="text-center mb-3">Post your Car</h2>
        <div class="row car-detail">
          <div class="col-4 car-detail-left">
            <div class="form-group row justify-content-between">
              <label class="col-sm-4 col-form-label">Make:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="" name="car-make">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Model:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="" name="car-model">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Year:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="" name="car-year">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Color:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="" name="car-color">
              </div>
            </div>
          </div>
          <div class="col-8 car-detail-right">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Description:</label>
              <div class="form col-sm-9">
                <textarea name="car-description" class="form-control"
                  placeholder="Please describe your car!"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="car-post-bottom row">
          <div class="col-9 form-group row">
            <label class="col-sm-2 col-form-label">Image Url:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="url" name="car-image">
            </div>
          </div>
          <div class="col-3 form-group">
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn">Submit Your Precious</button>
            </div>
          </div>
        </div>

      </form>
    </section>
    <script src="/js/logout.js"></script>
    <%- include ('partials/footer.ejs'); -%>