<%- include ('partials/html-head'); -%>
  <%- include ('partials/header-nav', { currentMenu: 'login' }) %>

    <section class="account">
      <div class="container">
        <div class="signup row justify-content-between">
          <div class="signup_img col-lg-8 d-none d-md-none d-lg-block">
            <img src="./images/Fiat-Coupe-2022.jpg" alt="">
          </div>
          <div class="signup-form col-lg-4">
            <form id="signup-form">
              <h2 class="text-center">Sign up</h2>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username-signup" placeholder="username">
                <label for="username-signup">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
                <label for="email-signup">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password-signup" placeholder="Password">
                <label for="password-signup">Password</label>
              </div>
              <div class="d-flex justify-content-between align-items-start">
                <div class="login-panel">
                  <label class="">
                    <input type="checkbox">
                    Remember me
                  </label>
                </div>
                <div class="form-group">
                  <button type="submit">Sign up</button>
                </div>
              </div>
            </form>
            <p class="text-center"><a href="/login">Switch to login</a></p>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript" src="/js/signup.js"></script>

    <%- include ('partials/footer.ejs'); -%>