<%- include ('partials/html-head'); %>
  <%- include ('partials/header-nav', { currentMenu: 'post' }) %>
  <div>Hello single car!</div>
  <div><%= car.make %></div> 
  <%- include ('partials/footer.ejs'); %>