@font-face {
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
  color: #1c1c1c;
}

ul, ol {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
}

.card {
  border: none;
}

header {
  margin-bottom: 1rem;
}

/*******************header-start***********************/
header nav {
  background-color: #7e1010;
  font-size: 1.2rem;
}
header nav .navbar-brand {
  font-size: 1.6rem;
}

/********************header-end************************/
/*******************home-card-start***********************/
#home-cards .row .card {
  min-height: 200px;
  border: 1px solid #e6e6e6;
}

/********************home-card-end************************/
/********************carousel-start************************/
#cars-carousel .container {
  background-color: #7e1010;
  border-radius: 20px;
}
#cars-carousel .container img {
  height: 400px;
}

/*********************carousel-end*************************/
/********************rmr-contents-start************************/
#rmr-contents .container .row .left-filter .card {
  border: 1px solid #cccccc;
}
#rmr-contents .container .row .left-filter .card .title {
  font-weight: bolder;
}
#rmr-contents .container .row .right-contents .card {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  background-color: #F5F5F6;
}
#rmr-contents .container .row .right-contents .card .row .image {
  width: 320px;
  overflow: hidden;
}
#rmr-contents .container .row .right-contents .card .row .image img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 320px;
}
#rmr-contents .container .row .right-contents .card .row article {
  overflow: hidden;
}
#rmr-contents .container .row .right-contents .card .row article .card-body-top .card-title {
  background-color: #891515;
  font-size: 1.2rem;
  color: #e6e6e6;
}
#rmr-contents .container .row .right-contents .card .row article .comment-div {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #e6e6e6;
  font-size: 0.8rem;
  box-shadow: 0 0 1px #e44e67;
}
#rmr-contents .container .row .right-contents .card .row article .comment-div p {
  margin-bottom: 0.5rem;
}
#rmr-contents .container .row .right-contents .card .row article .comment-div .username {
  color: #891515;
}
#rmr-contents .container .row .right-contents .card .row article .comment-div .created-at {
  color: #999999;
}
#rmr-contents .container .row .right-contents .card .row article .comment-form {
  margin-top: 0.8rem;
  height: 2.5rem;
}
#rmr-contents .container .row .right-contents .card .row article .comment-form .col-9 {
  margin-left: 1rem;
}
#rmr-contents .container .row .right-contents .card .row article .comment-form input {
  background-color: #fefbfb;
  height: 100%;
}
#rmr-contents .container .row .right-contents .card .row article .comment-form input:focus {
  border: 1px solid #fce9ec;
  box-shadow: 0 0 2px 3px #f5c1c1;
}
#rmr-contents .container .row .right-contents .card .row article .comment-form button {
  color: #e6e6e6;
  background-color: #891515;
  margin-left: 1rem;
}
#rmr-contents .container .row .right-contents .card .row article .comment-form button:active {
  background-color: #b51c1c;
}
#rmr-contents .container .row .right-contents .card .row article .comment-form button:focus {
  box-shadow: 0 0 2px 3px #f5c1c1;
}

/*********************rmr-contents-end*************************/
/********************car-post-start************************/
#car-post .form-group {
  margin-bottom: 0.35rem;
}
#car-post .form-group input, #car-post .form-group textarea {
  background-color: #fefbfb;
}
#car-post .form-group input:focus, #car-post .form-group textarea:focus {
  border: 1px solid #fce9ec;
  box-shadow: 0 0 2px 3px #f5c1c1;
}
#car-post .form-group label {
  font-weight: bold;
  color: #731212;
}
#car-post .form-group button {
  color: #e6e6e6;
  background-color: #891515;
}
#car-post .form-group button:active {
  background-color: #b51c1c;
}
#car-post .form-group button:focus {
  box-shadow: 0 0 2px 3px #f5c1c1;
}
#car-post .car-detail-right .form-group {
  height: 100%;
}
#car-post .car-detail-right .form-group textarea {
  height: 97%;
}

/*********************car-post-end*************************/
/********************account-start************************/
.account .container .login img, .account .container .signup img {
  width: 100%;
}

/*********************account-end*************************/
/********************carousel-start************************/
/*********************carousel-end*************************/
/********************carousel-start************************/
/*********************carousel-end*************************/
/********************carousel-start************************/
/*********************carousel-end*************************/

/*# sourceMappingURL=style.css.map */
